Screen {
    layout: horizontal;
}

NodeStatusDisplay {
    padding-left: 2;
    padding-right: 2;
}

Indicator {
    height: auto;
    offset-x: 2%;
    width: 96%;
    layout: horizontal;
}
Indicator > Rectangle {
    margin-right: 1;
    margin-left: 1;
    height: 1;
}
